body{
    background-color: #003E1F;
}
h1{
    color: white;
    text-align: center;
    background-color: #D90429;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}
nav{
    display: block;
    float: left;
    width: 25%;
}
.seccion1{
    color: white;
    border: 5px solid #D90429;
    border-radius: 15px;
    margin-top: 15px ;
    float: right;
    width: 70%;
}
.titulo2{
    background-color: black;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    
}
.img{
    background-color: black;
    float: left;
    display: inline-block;
    margin: 15px;
    border-radius: 15px;
}

.seccion{
    float: left;
    color: white;
    background-color: #D90429;
    border-radius: 15px;

}
.menu{
    background-color: #D90429;
    max-width: 100%;
    border-radius: 15px;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;
}
.menu ul li a{
    padding: 5px;
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    background-color: red;
}
#titulo3{
    background-color: #D90429;
    color: white;
    border-radius: 15px;
    text-align: center;
    float: right;
    width: 70%;
}

.seccionlink{
    background-color: #D90429;
    border-radius: 15px;
    max-width: 100%;
    padding: 5px;
    text-align: center;
}
.seccionlink a{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 5px;
}
.seccionlink a:hover{
    
    background-color: red;
    border-radius: 15px;
}